@model List<Library_Management_System.Entities.BookEntity>
@if (@User.Claims.FirstOrDefault(x => x.Type == "id")?.Value != null)
{

    <h3 class="text-center mt-5 fw-bold text-dark">Book List Page</h3>
    <a asp-controller="Book" asp-action="Create" class="btn btn-dark fw-bold mb-3 mt-3">Create New Book</a>

    <hr />

    <table class="table table-bordered table-info table-dark">
        <thead>
        <th style="width:50px">Id</th>
        <th>Title</th>
        <th style="width:50px">Copies Available</th>
        <th style="width:225px">Actions</th>
        </thead>

        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.CopiesAvailable</td>
                    <td>
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-warning">Details</a>
                        <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary">Edit</a>

                        <form asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}